<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :km %><br />
    <%= f.text_field :km %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
   <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :oil %><br />
     <%= f.radio_button(:oil, "Regular")%>
    <%= f.label :Regular %><br/>
    <%= f.radio_button(:oil, "Syntetic")%>
    <%= f.label :Syntetic %>
   
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
