<p id="notice"><%= notice %></p>

<p>
  <b>Km:</b>
  <%= @service.km %>
</p>

<p>
  <b>Date:</b>
  <%= @service.date %>
</p>

<p>
  <b>Oil:</b>
  <%= @service.oil %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
